<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912782163966-c8480kqjc922eqbmm7r16v9tn2daq44i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912782163966-c8480kqjc922eqbmm7r16v9tn2daq44i</string>
	<key>API_KEY</key>
	<string>AIzaSyC5xMx0Nk0MUUm4Ac06bwzOspou7sU5Lss</string>
	<key>GCM_SENDER_ID</key>
	<string>912782163966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.PersonalToolbag</string>
	<key>PROJECT_ID</key>
	<string>personal-toolbag-app</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-toolbag-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912782163966:ios:ff21c4723aa4e431f18aaf</string>
</dict>
</plist>